@using PenDesign.Common.HelperMethod

@model PenDesign.WebUI.Models.NewsVM
@{
    ViewBag.Title = ViewBag.newsCategoryName;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section SEO{
    <meta name="keywords" content="@ViewBag.Keyword">
    <meta name="description" content="@ViewBag.Description">
    @Html.Raw(ViewBag.MetaData)
}

<div class="content">
    <div class="container_12">
        <div class="breadcrumb">
            <a href="/" title="Trang chủ">Trang chủ</a> / @ViewBag.newsCategoryName
        </div>
        <div class="grid_9">
            @if (Model != null && Model.News.Count() > 0)
            {
                var languageId = int.Parse(PenDesign.Common.Utils.Cookies.ReadCookie("PenDesign:Language", "129"));
                foreach (var item in Model.News)
                {
                    var newsMapping = item.NewsMappings.Where(m => m.LanguageId == languageId && m.Status == true && m.Deleted == false).SingleOrDefault();
                    var title = newsMapping.Title;
                    var intro = newsMapping.Intro;
                    var thumbUrl = newsMapping.ThumbUrl;
                    var detailUrl = "/" + XString.ToAscii(ViewBag.newsCategoryName) + "/" + XString.ToAscii(title) + "-" + item.Id ;
                    
                    <div class="blog">
                        <img src="@thumbUrl" alt="@title" class="img_inner fleft">
                        <div class="extra_wrapper">
                            <div class="text1">
                                <a href="@detailUrl">@title</a>
                            </div>
                            @intro
                            <div class="alright">
                                <a href="@detailUrl" class="btn">Xem thêm</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                }
                <div class="clear cl1"></div>
                @Html.Paging(new PagingOptions(Model.PagingItems.TotalPages))
            }
            else
            {
                <p>Trang này không tồn tại</p>
            }

        </div>

        <div class="grid_3">
            @{Html.RenderAction("_SidebarNews", "News", new { newsCategoryId = 1 });}
            @{Html.RenderAction("_SidebarNews", "News", new { newsCategoryId = 2 });}
        </div>
    </div>
</div>
