@using PenDesign.Common.HelperMethod
@model PenDesign.WebUI.Models.VideoVM

@{
    ViewBag.Title = "Video Clip";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section SEO{
    <meta name="keywords" content="@ViewBag.Keyword">
    <meta name="description" content="@ViewBag.Description">
    @Html.Raw(ViewBag.MetaData)
}

@section ScriptsHeader{

    <link href="~/Content/colorbox/colorbox.css" rel="stylesheet" />
    <script src="~/Content/colorbox/jquery.colorbox-min.js"></script>
}

<div class="content">
    <div class="container_12">
        <div class="breadcrumb">
            <a href="/" title="Trang chủ">Trang chủ</a> / Video
        </div>
        @*<div class="grid_12">
            <h2>Video</h2>
        </div>*@
        <div class="clear cl1"></div>
        <div class="gallery">
            @if (Model.ProjectImages != null && Model.ProjectImages.Count() > 0)
            {
                var languageId = int.Parse(PenDesign.Common.Utils.Cookies.ReadCookie("PenDesign:Language", "129"));
                var i = 1;
                foreach (var image in Model.PagingItems.Entities)
                {
                    var imageName = image.ProjectImageMappings.Where(m => m.LanguageId == languageId && m.Status == true && m.Deleted == false).SingleOrDefault().Name;
                    <div class="grid_4">
                        <a class="gal group-@i" href="https://www.youtube.com/embed/@image.ResourceUrl" title="@imageName">
                            <img src="@image.Thumbnail" class="img-responsive" alt="@imageName" />
                        </a>
                    </div>
                    if (i > 1 && i % 3 == 0)
                    {
                        <div class="clear"></div>
                    }
                    var content = "$('.group-" + i + "' ).colorbox({rel: 'group-" + i + "', iframe: true, width: '60%',height: '80%'});";
                    <script>
                        @Html.Raw(content)
                    </script>
                    i++;
                }



            }

        </div>
        <div class="clear cl1"></div>
        @Html.Paging(new PagingOptions(Model.PagingItems.TotalPages))
    </div>
</div>
