@using PenDesign.Common.HelperMethod

@model PenDesign.WebUI.Models.ConstructionVM
@{
    ViewBag.Title = "Công trình thực tế";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section SEO{
    <meta name="keywords" content="@ViewBag.Keyword">
    <meta name="description" content="@ViewBag.Description">
    @Html.Raw(ViewBag.MetaData)
}

<div class="content">
    <div class="container_12">
        <div class="breadcrumb">
            <a href="/" title="Trang chủ">Trang chủ</a> / Công trình thực tế
        </div>

        <div class="grid_9">
            @if (Model != null && Model.News.Count() > 0)
            {
                var languageId = int.Parse(PenDesign.Common.Utils.Cookies.ReadCookie("PenDesign:Language", "129"));
                foreach (var item in Model.News)
                {
                    var title = item.NewsMappings.Where(m => m.LanguageId == languageId && m.Status == true && m.Deleted == false).SingleOrDefault().Title;
                    var intro = item.NewsMappings.Where(m => m.LanguageId == languageId && m.Status == true && m.Deleted == false).SingleOrDefault().Intro;
                    var detailUrl = "/cong-trinh-thuc-te/" + XString.ToAscii(title) + "-" + item.Id;
                    <div class="blog">
                        <img src="@item.Thumbnail" alt="@title" class="img_inner fleft">
                        <div class="extra_wrapper">
                            <div class="text1">
                                <a href="@detailUrl">@title</a>
                            </div>
                            @intro
                            <div class="alright">
                                <a href="@detailUrl" class="btn">Xem thêm</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                }
            }
            <div class="clear cl1"></div>
            @Html.Paging(new PagingOptions(Model.PagingItems.TotalPages))
        </div>

        <div class="grid_3">
            @{Html.RenderAction("_SidebarNews", "News", new { newsCategoryId = 1 });}
            @{Html.RenderAction("_SidebarNews", "News", new { newsCategoryId = 2 });}
        </div>
    </div>
</div>
